<div class="card">
    <div class="card-head">
        <H2>Interes simple</H2>
    </div>
</div>

<div class="card ">
    <div class="form-container container">
        <form [formGroup]="formGroup" class="form col">
            <button type="button" class="google-button " (click)="agregarPeriodo()" >
                <i class="fa-solid fa-plus" style="color: #ffffff;"></i>Nuevo periodo</button>
            <div formArrayName="periodos" >
                <ng-container *ngFor="let periodo of periodos.controls; let i = index ">
                    <div class="form-group row mt-3" [formGroupName]="i">
                        <div class="row">
                            <div class="col-7 ">
                                <div class="google-combo">
                                    <select class="combo-select" formControlName="periodo" (change)="actualizarIntervalosDisponibles()">
                                        <option value="" disabled selected>Seleccione periodo</option>
                                        <option *ngFor="let intervalo of intervalosTiempo" [value]="intervalo.value" [disabled]="intervalo.selected">
                                            {{ intervalo.label }}
                                        </option>
                                    </select>
                                    <label class="form-label error" *ngIf="campoTieneErrorArray('periodo', i)"><i
                                            class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group row">
                                    <input type="number" class="form-input" placeholder=" " formControlName="valor">
                                    <label class="form-label">Valor</label>
                                    <label class="form-label error" *ngIf="campoTieneErrorArray('valor', i)"><i
                                            class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i></label>
                                </div>

                            </div>
                            <button type="button" class="eliminar-button col-2" (click)="eliminarPeriodo(i)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="form-group row mt-5">
                <input type="number" class="form-input" placeholder=" " formControlName="interes">
                <label class="form-label">Interes</label>
                <label class="form-label error" *ngIf="campoTieneError('interes')"><i
                        class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i></label>
            </div>
            <div class="form-group row mt-5">
                <input type="number" class="form-input" placeholder=" " formControlName="capital">
                <label class="form-label">Capital</label>
                <label class="form-label error" *ngIf="campoTieneError('capital')"><i
                        class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i></label>
            </div>

            <div class="form-group row mt-5">
                <input type="number" class="form-input" placeholder=" " formControlName="tasaInteres">
                <label class="form-label">Tasa de interes</label>
                <label class="form-label error" *ngIf="campoTieneError('capital')"><i
                        class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i></label>
            </div>
            <button type="button" class="google-button " (click)="calcularInteres()">Calcular</button>
        </form>
        <div *ngIf="interesTotalCalculado !== ''" class="resultado-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Resultado</h3>
                    <p class="card-text">
                       {{ interesTotalCalculado}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>