<nav class="body-navbar">
    <div class="logo-navbar">
        <div class="imagen-navbar">
            <img src="" alt="" class="logo-img-navbar">
        </div>
        <div class="titulo-navbar">
            <h2>DJS</h2>
        </div>
    </div>
    <div class="linea-divisora"></div>
    <ul class="list-navbar">
        <li class="list-item-navbar list-item-navbar--click">
            <div class="list-button-navbar list-button-navbar--click">
                <a class="navbar-link" routerLink="/InteresSimple/Interes simple">Interes simple</a>
                <!-- <i class="fa-solid fa-chevron-down list-arrow"></i> -->
            </div>
            <!-- <ul class="list-show">
                <li class="list-inside">
                    <a class="navbar-link nav-link-inside"  routerLink="/InteresSimple/Interes">Interes</a>
                </li>
                <li class="list-inside">
                    <a class="navbar-link nav-link-inside" routerLink="/InteresSimple/Capital">Capital</a>
                </li>
                <li class="list-inside">
                    <a class="navbar-link nav-link-inside" routerLink="/InteresSimple/Tasa de interes" >Tasa interes</a>
                </li>
                <li class="list-inside">
                    <a class="navbar-link nav-link-inside" routerLink="/InteresSimple/Tiempo">Tiempo</a>
                </li>
            </ul> -->
        </li>
        <li class="list-item-navbar">
            <div class="list-button-navbar">
                <a class="navbar-link"  routerLink="/InteresCompuesto">Interes compuesto</a>
            </div>
        </li>
        <li class="list-item-navbar">
            <div class="list-button-navbar">
                <a class="navbar-link" routerLink="/Gradiente">Gradiente</a>
            </div>
        </li>
    </ul>
</nav>

<div class="body-contenido">
    <router-outlet></router-outlet>
</div>